extends ./layouts/layout

block page-title
  title Wiki Thanks
  link(rel="icon",
    href="favicon.ico",
    type="image/x-icon")

block head
  include ./includes/header.jade

block content
  #main.container.row
    .col-md-6.lead We're trying to increase the civility in the world
      
block scriptblock
  script(src='js/jquery.min.js')
  script(src='js/bootstrap.min.js')
  script(src='js/app.bundle.js')  
