@import 'bootstrap-custom';
@import './wikidiff';

.card-row {
  height: 400px;
}

.card {
  padding: 1em;
  height: 400px;
  overflow: hidden;
  border: 1px solid #e1e8ed;
  position: relative;
  &:hover {
    background-color: #f5f8fa;
  }
}

.card__header {
  h3 {
    margin: 0;
  }
}

.card__summary {
  overflow: hidden;
  p {
    color: #556;
  }
}

.card__footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
