doctype html
html
  head
    link(rel="stylesheet", type="text/css" href="css/app.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    block page-title
  body
    header
      block head
        p 
    block content
      #main
    footer
      block foot
        p.text-right &copy; 2015 Chris Brown.
